.card {
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #757763;
    max-width: 50%;
    position: relative;}
@media screen and (max-width: 600px){ .card{
    max-width: 100%;
}}

@media screen and (max-width: 1011px){
    .media-content {
        overflow-x: unset;
    }}

.led-green {
    margin: 0 10px;
    width: 12px;
    height: 12px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.subtitle {
    display: flex;
    flex-direction: row;
}