@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//$blue: #4462a5;
$blue: #1f3158;
$orange: #ff9437;

$tablet: 1012px !default

$grey: #dbdbdb;
$brown: #757763;

$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$link: $orange;
$footer-background-color : $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
//$input-shadow: none;


$light-grey : #f0f0f0;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-calendar/dist/css/bulma-calendar.min.css";
//Calendar
@import '../node_modules/@fullcalendar/core/main.css';
@import '../node_modules/@fullcalendar/daygrid/main.css';
@import '../node_modules/@fullcalendar/timegrid/main.css';
@import '../node_modules/@fullcalendar/list/main.css';

//General
.input, .textarea{
  box-shadow: none;
  border-color: #D0D1CD;
}

.input[disabled]{
  border-color: #D0D1CD;
  color: #363636;
  background: #cecece;
}

select.select, .select > select{
  border: 2px solid #D0D1CD;
}

.main-container.full-size{
  max-width : none;
}

label{
  font-size: 1.2rem;
}

.control{
  margin-top: 10px;
}


.card-header{
  background: $primary;
  .title{
    color: white;
  }
  .led{
    border: 1px solid white;
  }
  .state{
    color: white;
  }
}


//banner
.hero-body{
  .container{
    .title, .subtitle{
      color: black !important;
    }
    .subtitle{
      @media (min-width: 1200px) {
        font-size: 2rem;
      }
    }
  }
}

//Override calendar
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range{
  background: $primary;
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range.datepicker-range-end .date-item, .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range.datepicker-range-start .date-item {
  border: .1rem solid $primary;
  color: $primary!important;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range .date-item {
  background-color: $primary;
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active{
  background: $primary;
  border-color: $primary;
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
  border: .1rem solid $primary;
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today{
  border: .1rem dotted $primary;
  color: $primary;
}
.datetimepicker .datepicker-nav{
  background: $primary;
}
.datetimepicker .timepicker .timepicker-end .timepicker-hours .timepicker-input, .datetimepicker .timepicker .timepicker-end .timepicker-minutes .timepicker-input, .datetimepicker .timepicker .timepicker-start .timepicker-hours .timepicker-input, .datetimepicker .timepicker .timepicker-start .timepicker-minutes .timepicker-input{
  color: $primary;
}
.datetimepicker .datetimepicker-header .datetimepicker-selection-end .datetimepicker-selection-day, .datetimepicker .datetimepicker-header .datetimepicker-selection-start .datetimepicker-selection-day{
  color: $primary;
}

.datetimepicker{
  max-width: 100%;
  margin: auto;
}

.timepicker-input{
  padding-top : 12px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    //display: block;
    position: absolute;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
    background-color: whitesmoke;
    color: $orange;
  }
}


//OVERRIDE BULMA
.card-header,.card-footer{
  padding: 1.5rem;
}
.card {
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #757763;
  width: 300px;
  position: relative;
  @media screen and (max-width: 600px){
    max-width: 100%;
  }
  .card-content{
    .row{
      word-break: break-all;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1.2rem;
      &:not(:last-child){
        border-bottom: 1px solid $light-grey;
        margin-bottom: 5px;
      }
      .label{
        font-size: 1.1rem;
      }
    }
  }
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  &.full-width-buttons{
    flex-direction: column;
    .button{
      width: 100%;
      margin-right: 0 !important;
    }
  }
}

.media-content {
  @media screen and (max-width: 1011px) {
    overflow-x: unset;
  }
}

.field{
  .select{
    width: 100%;
    select{
      width: 100%;
    }
  }
}

.page-title{
  color: $primary;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 30px;
}

.notification{
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  &:not(:last-child){
    margin-bottom: 2px;
  }
  &.hidden{
    display: none;
  }
}

//MenuList.php //
.menu-card, .category-card, .promo-card{
  width: 100%;
  &:not(:last-child){
    margin-bottom: 20px;
  }
  &.is-top-menu{
    border: 1px solid $orange;
  }
  .menu-title, .cat-title, .promo-title{
    width: 100%;
  }
  .card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

//MenuItem.php
.menu-item-card{
  width: 100%;
  .menu-title{
    width: 100%;
    color: white;
  }
  .category-line{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
  }
  .checkbox-is-top-menu{
    margin-top: 2rem;
  }
}

//ActivityView.php
.activity-card{
  width: 100%;
  .card-header{
    display: flex;
    justify-content: space-between;
    .title{
      margin-bottom: 0;
    }
  }
  .activity-pictures{
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .picture{
      width: calc(100%/3);
      &:not(:last-child){
        padding-right: 5px;
      }
      &:not(:first-child){
        padding-left: 5px;
      }
      @media (max-width: 768px) {
        width: 100%;
        &:not(:last-child){
          padding-right: 0;
          padding-bottom: 10px;
        }
        &:not(:first-child){
          padding-left: 0;
        }
      }
    }
  }
}

.activity-comments-title{
  color: $primary;
  font-size: 1.6rem;
  margin: 30px 0;
}

.comments{
  .comment-card{
    width: 100%;
    padding: 20px;
    border: 1px solid $orange;
    flex-direction: row;
    margin-bottom: 1.5rem;
    @media(max-width: 768px){
      flex-direction: column;
    }
    .show-comment-form{
      user-select: none;
    }
    .comment-picture{
      max-width: 80%;
      height: auto;
      margin-bottom: 20px;
    }
    .comment-form{
      &.hidden{
        display: none;
      }
    }
    .media-right{
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}

//listActivities.php //home.php
.filter-activities-form{
  &.hidden{
    display: none;
  }
}
.activity-list{
  display: flex;
  flex-wrap: wrap;
  .card{
    width: 45%;
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    &:nth-child(2n){
      margin-left: 10%;
    }
    @media (max-width: 921px){
      width: 100%;
      &:nth-child(2n){
        margin-left: 0;
      }
    }
    .card-header{
      display: flex;
      flex-direction: column;
      .title{
        margin-bottom: 0;
        &:hover{
          color: $grey-light;
        }
      }
      .act-status {
        display: flex;
        align-items: center;
        padding: 10px 0;
        font-size: 1.2rem;
        .led{
          margin-right: 10px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          &.green{
            background-color: green;
          }
          &.orange{
            background-color: red;
          }
          &.red{
            background-color: orange;
          }
        }
      }
      .note{
        font-size: 1.1rem;
        color: $orange;
      }
    }
    .card-bottom-container{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .card-footer{
        flex-grow: 1;
      }
    }
  }
}

//activityPlan.php
.activity-plan-container{
  .daySelectPlan{
    display: flex;
    width: 100%;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    label{
      width: 100%;
      margin: 5px;
      padding: 10px;
      background: #fffbff;
      border-radius: 3px;
      border: 1px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select:none;
      color: $primary;
      &.selected{
        color: $link;
        border: 1px solid $link;
      }
    }
    input{
      display: none;
    }
  }

  .datetimepicker-container{
    display: flex;
    flex-direction: column-reverse;
  }
}

//Calendar
.fc-header-toolbar{
  @media (max-width: 760px) {
    display: flex;
    flex-direction: column;
    .fc-left{
      width: 100%;
    }
    .fc-right{
      width: 100%;
    }
  }
}

a[data-goto], .fc-day-header{
  color: $blue;
}

.modal-card{
  width: 80%;
  .modal-card-body{
    .time-slots{
      display: flex;
      flex-wrap: wrap;
      label{
        width: 45%;
        margin-right: 10%;
        margin-bottom: 10px;
        padding: 10px;
        background: #fffbff;
        border-radius: 3px;
        border: 1px solid $primary;
        user-select:none;
        color: $primary;
        @media (max-width: 800px) {
          width: 100%;
          margin-right: 0;
        }
        &.disabled{
          cursor: default;
          background: #a9a9a9a9;
        }
        .row{
          display: flex;
          justify-content: space-between;
          margin: 5px 0;
        }
        &.selected{
          background: #ff943712;
          border: 1px solid $link;
        }
        &:hover{
          &:not(.disabled){
            background: #ff943712;
          }
        }
        &:nth-child(2n){
          margin-right: 0;
        }
      }
      input{
        display: none;
      }
      .value{
        width: 30%;
      }
    }
  }
  .modal-card-foot{
    flex-direction: column;
  }
}

//ReservationForm
.session-description{
  font-size: 1.2rem;
  margin-bottom: 20px;
  .row{
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: baseline;
    }
    .session-label{
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .session-value{
      font-size: 1rem;
    }
  }
}
.reservationForm1{
  .participant{
    margin: 25px 0;
    .participant-label{
      font-size: 1.5rem;
      background: none;
      margin-bottom: 10px;
    }
    label{
      font-size: 1rem;
    }
  }
  .validate-reservation-form{
    &.visibility-hidden{
      visibility: hidden;
    }
    &.hidden{
      display: none;
    }
  }
}

.reservation-tickets{
  .ticket{
    padding: 10px;
    border: 1px solid $primary;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    .ticket-column.left{
      width: 100%;
    }
    .row{
      display: flex;
      width: 100%;
      @media (max-width: 800px) {
       flex-direction: column;
        margin-bottom: 15px;
      }
      .ticket-label{
        width: 35%;
        @media (max-width: 800px) {
          width: 100%;
        }
      }
      .ticket-value{
        font-size: 1rem;
      }
    }
  }
}

.reservation-total{
  font-size: 1.4rem;
  color: $orange;
  float: right;
}

//Promotion
.promotionForm{
  .field.hidden{
    display: none;
  }
  .other-field{
    display: none;
  }
  .explaination-message{
    color: $orange;
    font-size: 1.2rem;
  }
}

//Prices
.prices{
  display: flex;
  align-items: baseline;
}

.price.special-price{
  color: $link;
}

.base-price{
  text-decoration: line-through;
  margin-right: 10px;
  font-size: 0.9rem;
}

//Profile
.modifyProfileButton, .modifyPasswordButton{
  margin-bottom: 30px;
}

.modifyProfileForm.hidden, .modifyPasswordForm.hidden{
  display: none;
}

.modifyProfileForm{
  .profile-image{
    max-width: 30%;
  }
}
.profile-info{
  margin-bottom: 20px;
  .field{
    margin-bottom: 10px;
    .profile-label{
      font-size: 1.2rem;
    }
    .value{
      font-size: 1.1rem;
    }
  }
}
.reservations, .cancelled-resrvations, .passed-resrvations{
  .reservation-section-title{
    font-size: 1.4rem;
    color: $primary;
    margin: 25px 0;
  }
  .reservation-card{
    width: 100%;
    &:not(:last-child){
      margin-bottom: 25px;
    }
    .card-header{
      display: flex;
      justify-content: space-between;
      .reservation-title{
        font-size: 1.1rem;
        color: white;
      }
    }
    .buttons{
      margin-top: 1rem;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    .row{
      display: flex;
      justify-content: space-between;
    }
    .tickets{
      &.hidden{
        display: none;
      }
      .ticket{
        border: 1px solid $orange;
        padding: 10px;
        display: flex;
        &:not(:last-child){
          margin-bottom: 20px;
        }
        .ticket-qr-code{
          width: 123px;
          .ticket-note{
            text-align: center;
            font-size: 1.3rem;
            margin: 10px auto;
            color: $orange;
          }
          .evaluate-button{
            width: 100%;
          }
        }
        .ticket-info{
          width: 85%;
          .row{
            display: flex;
            justify-content: flex-start;
            .ticket-label{
              width: 50%;
              font-size: 1.2rem;
            }
            .ticket-value{
              width: 50%;
              font-size: 1.1rem;
            }
          }
        }
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
  }
}

//ActivityForm
.activityForm .images{
  width: 100%;
  display: flex;
  flex-direction: column;
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 768px){
      flex-direction: column;
    }
    .field{
      width: 45%;
      @media (max-width: 768px){
        width: 100%;
      }
    }
  }
}

//home.php
.special-offer{
  .promotions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 2.5%;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .promotion{
      color: #c83434;
      //background: $orange;
      background-image: url('../application/assets/images/promotion-background.jpg')!important;
      height: 150px;
      padding: 20px;
      width: 49%;
      margin-bottom: 20px;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
.home-activities{
  .activity-list{
    width: 100%;
    padding: 2.5%;
  }
}

.popular-activities{
  .act-name{
    text-align: center;
    font-size: 1rem;
  }
  .note{
    font-size: 1.2rem;
    color: $orange;
    @media (max-width: 1112px){
      font-size: 1.2rem;
    }
  }
}

//footer
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 1.5rem 3rem;
  background: $primary !important;
  .footer-container{
    margin-bottom: 50px;
    width: 50%;
    @media (max-width: 768px){
      width: 90%;
    }
    .newsletter{
      width: 100%;
      .newletter-label{
        color: white;
        text-align: center;
        margin-bottom: 10px;
      }
      .newsletter-form{
        display: flex;
        input{
          border-radius: 4px 0 0 4px;
        }
        .button{
          border-radius: 0 4px 4px 0;
        }
      }
    }
    .admin-contact{
      margin-top: 25px;
      .admin-contact-label{
        color: white;
        text-align: center;
        margin-bottom: 10px;
      }
      .button{
        width: 100%;
      }
    }
  }
  a:hover{
    color: white;
  }
}

//AdminRequestList.php
.request-type-label{
  font-size: 1.2rem;
  color: $primary;
  margin: 10px 0;
}

.request-card{
  width: 100%;
  &:not(:last-child){
    margin-bottom: 15px;
  }
}

//Connect / Subscribe modal
.connect-link-div, .subscribe-link-div{
  display: flex;
  justify-content: center;
  div{
    padding: 5px;
  }
  .modal-subscribe-link, .modal-connect-link{
    color: $orange;
    cursor: pointer;
  }
}

//Payment modal
.ariane{
  display: flex;
  width: 100%;
  justify-content: center;
  .steps-segment{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.is-active{
      .steps-marker{
        color: $orange;
      }
      .steps-content{
        color: $orange;
      }
    }
    .steps-marker{
      width: 100%;
      .icon{
        width: 100%;
      }
    }
  }
}

//planningActivity.php
.action-event-modal{
  display: block;
  &.hidden{
    display: none;
  }
}

.planning-reservations{
  .participant-nb{
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: $primary;
  }
  .participant{
    border: 1px solid $orange;
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    .participant-info{
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: 20px;
      @media(max-width: 768px){
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
