@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//$blue: #4462a5;
$blue: #1f3158;
$orange: #ff9437;

$tablet: 1012px !default

$grey: #dbdbdb;
$brown: #757763;

$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$link: $orange;
$footer-background-color : $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
//$input-shadow: none;


$light-grey : #f0f0f0;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-calendar/dist/css/bulma-calendar.min.css";
//Calendar
@import '../node_modules/@fullcalendar/core/main.css';
@import '../node_modules/@fullcalendar/daygrid/main.css';
@import '../node_modules/@fullcalendar/timegrid/main.css';
@import '../node_modules/@fullcalendar/list/main.css';

//General
.input, .textarea{
  box-shadow: none;
  border-color: #D0D1CD;
}

select.select, .select > select{
  border: 2px solid #D0D1CD;
}

.main-container.full-size{
  max-width : none;
}

label{
  font-size: 1.2rem;
}

.control{
  margin-top: 10px;
}

.card-header{
  //&:not(.activity-list-card-header){
  background: $primary;
  .title{
    color: white;
  }
  .led{
    border: 1px solid white;
  }
  .state{
    color: white;
  }
  //}
}

//Override calendar
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range{
  background: $primary;
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range.datepicker-range-end .date-item, .datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range.datepicker-range-start .date-item {
  border: .1rem solid $primary;
  color: $primary!important;
}

.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date.datepicker-range .date-item {
  background-color: $primary;
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-active{
  background: $primary;
  border-color: $primary;
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item:hover {
  border: .1rem solid $primary;
}
.datetimepicker .datepicker-body .datepicker-dates .datepicker-days .datepicker-date .date-item.is-today{
  border: .1rem dotted $primary;
  color: $primary;
}
.datetimepicker .datepicker-nav{
  background: $primary;
}
.datetimepicker .timepicker .timepicker-end .timepicker-hours .timepicker-input, .datetimepicker .timepicker .timepicker-end .timepicker-minutes .timepicker-input, .datetimepicker .timepicker .timepicker-start .timepicker-hours .timepicker-input, .datetimepicker .timepicker .timepicker-start .timepicker-minutes .timepicker-input{
  color: $primary;
}
.datetimepicker .datetimepicker-header .datetimepicker-selection-end .datetimepicker-selection-day, .datetimepicker .datetimepicker-header .datetimepicker-selection-start .datetimepicker-selection-day{
  color: $primary;
}

.datetimepicker{
  max-width: 100%;
  margin: auto;
}

.timepicker-input{
  padding-top : 12px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    //display: block;
    position: absolute;
    width: 100%;
  }
}


//OVERRIDE BULMA
.card-header,.card-footer{
  padding: 1.5rem;
}
.card {
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #757763;
  width: 300px;
  position: relative;
  @media screen and (max-width: 600px){
    max-width: 100%;
  }
  .card-content{
    .row{
      word-break: break-all;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1.2rem;
      &:not(:last-child){
        border-bottom: 1px solid $light-grey;
        margin-bottom: 5px;
      }
      .label{
        font-size: 1.1rem;
      }
    }
  }
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.media-content {
  @media screen and (max-width: 1011px) {
    overflow-x: unset;
  }
}

.field{
  .select{
    width: 100%;
    select{
      width: 100%;
    }
  }
}

.page-title{
  width: 100%;
  font-size: 2rem;
  margin-bottom: 30px;
}

//MenuList.php //
.menu-card, .category-card{
  width: 100%;
  &:not(:last-child){
    margin-bottom: 20px;
  }
  &.is-top-menu{
    border: 1px solid $orange;
  }
  .menu-title, .cat-title{
    width: 100%;
  }
  .card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

//MenuItem.php
.menu-item-card{
  width: 100%;
  .menu-title{
    width: 100%;
    color: white;
  }
  .category-line{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
  }
  .checkbox-is-top-menu{
    margin-top: 2rem;
  }
}

//ActivityView.php
.activity-card{
  width: 100%;
  .card-header{
    display: flex;
    justify-content: space-between;
    .title{
      margin-bottom: 0;
    }
  }
}

//listActivities.php
.activity-list{
  display: flex;
  flex-wrap: wrap;
  .card{
    width: 45%;
    margin: 0 0 50px 0;
    &:nth-child(2n){
      margin-left: 10%;
    }
    @media (max-width: 921px){
      width: 100%;
      &:nth-child(2n){
        margin-left: 0;
      }
    }
    .card-header{
      display: flex;
      flex-direction: column;
      .title{
        margin-bottom: 0;
        &:hover{
          color: $grey-light;
        }
      }
      .act-status {
        display: flex;
        align-items: center;
        padding: 10px 0;
        font-size: 1.2rem;
        .led{
          margin-right: 10px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          &.green{
            background-color: green;
          }
          &.orange{
            background-color: red;
          }
          &.red{
            background-color: orange;
          }
        }
      }
    }
  }
}

//activityPlan.php
.activity-plan-container{
  .daySelectPlan{
    display: flex;
    width: 100%;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    label{
      width: 100%;
      margin: 5px;
      padding: 10px;
      background: #fffbff;
      border-radius: 3px;
      border: 1px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select:none;
      color: $primary;
      &.selected{
        color: $link;
        border: 1px solid $link;
      }
    }
    input{
      display: none;
    }
  }

  .datetimepicker-container{
    display: flex;
    flex-direction: column-reverse;
  }
}

//Calendar
.fc-header-toolbar{
  @media (max-width: 760px) {
    display: flex;
    flex-direction: column;
    .fc-left{
      width: 100%;
    }
    .fc-right{
      width: 100%;
    }
  }
}

a[data-goto], .fc-day-header{
  color: $blue;
}

.modal-card{
  width: 80%;
  .modal-card-body{
    .time-slots{
      display: flex;
      flex-wrap: wrap;
      label{
        width: 40%;
        margin-right: 10%;
        margin-bottom: 10px;
        padding: 10px;
        background: #fffbff;
        border-radius: 3px;
        border: 1px solid $primary;
        user-select:none;
        color: $primary;
        &.disabled{
          cursor: default;
          background: #a9a9a9a9;
        }
        .row{
          display: flex;
          justify-content: space-between;
          margin: 5px 0;
        }
        &.selected{
          background: #ff943712;
          border: 1px solid $link;
        }
        &:hover{
          &:not(.disabled){
            background: #ff943712;
          }
        }
        &:nth-child(2n){
          margin-right: 0;
        }
      }
      input{
        display: none;
      }
      .value{
        width: 30%;
      }
    }
  }
  .modal-card-foot{
    flex-direction: column;
  }
}

//ReservationForm
.session-description{
  font-size: 1.2rem;
  margin-bottom: 20px;
  .row{
    display: flex;
    width: 100%;
    .session-label{
      width: 40%;
    }
  }
}
.reservationForm1{
  .participant{
    margin: 25px 0;
    .participant-label{
      font-size: 1.5rem;
      background: none;
      margin-bottom: 10px;
    }
  }
  .validate-reservation-form.hidden{
    display: none;
  }
}

.reservation-tickets{
  .ticket{
    padding: 10px;
    border: 1px solid $primary;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    .ticket-column.left{
      width: 100%;
    }
    .row{
      display: flex;
      width: 100%;
      .ticket-label{
        width: 35%;
      }
    }
  }
}

.reservation-total{
  font-size: 1.4rem;
  color: $orange;
  float: right;
}

//Promotion
.promotionForm{
  .field.hidden{
    display: none;
  }
  .other-field{
    display: none;
  }
  .explaination-message{
    color: $orange;
    font-size: 1.2rem;
  }
}

//Prices
.prices{
  display: flex;
  align-items: baseline;
}

.price.special-price{
  color: $link;
}

.base-price{
  text-decoration: line-through;
  margin-right: 10px;
  font-size: 0.9rem;
}